@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --stabilization: 0;
}

html {
  padding-right: 0!important;
}

button {
  -webkit-focus-ring-color: none!important;
}

.container {
  margin: 0 auto;
}
.shadow-t-lg {
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
} 

.text-big {
  font-size: 40px;
  font-weight: bold;
}
.text-animate::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: #D1D5DB;
  border-radius: 0.75rem;
  transition: width .4s;
}

.stabilization {
  padding-right: var(--stabilization);
}
.initial-child-container,.marquee {
  gap: 20px;
}

@media (min-width: 1536px){
  .container {
      max-width: 1400px;
  }
}