@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --stabilization: 0;
  --bg: #000000;
  --clr-1: #00c2ff;
  --clr-2: #33ff8c;
  --clr-3: #ffc640;
  --clr-4: #e54cff;

  --blur: 1rem;
  --fs: clamp(3rem, 8vw, 7rem);
  --ls: clamp(-1.75px, -0.25vw, -3.5px);
}

::-webkit-scrollbar {
  width: 7px;

}
 
::-webkit-scrollbar-thumb {
  background: #D1D5DB;
  border-radius: 20px;

}

::-webkit-scrollbar-track {
  background: #eeeeee;
  border-radius: 20px;

}

.test {
  position: absolute;
  z-index: -10;
  background: linear-gradient(to right, white, white 20%, black 20%, black);
  background-size: 20px;
  width: 100%;
  filter: url("#turb");
  height: 100%;
  transform: scale(1.2);
}

/* details {
  position: absolute;
  background: black;
  color: white;
  font: 800 100% system-ui;
  padding: 10px 20px;
  top: 20px;
  left: 20px;
} */

html {
  padding-right: 0!important;
}
.left-shade {
  fill:#ced1d8;
}
.right-shade {
  fill: #adb1b9;
}

button {
  -webkit-focus-ring-color: none!important;
}

.container {
  margin: 0 auto;
}
.shadow-t-lg {
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
} 

.text-big {
  font-size: 40px;
  font-weight: bold;
}
.text-animate::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: #D1D5DB;
  border-radius: 0.75rem;
  transition: width .4s;
}

.stabilization {
  padding-right: var(--stabilization);
}
.initial-child-container,.marquee {
  gap: 20px;
}

.flipped {
  transform: rotateX(180deg);
}
.back {
  transform: rotateX(180deg);

}


@media (max-width: 1024px){
  .container {
      max-width: 728px;
  }
}

@media (max-width: 768px){
  .container {
      max-width: 640px;
      padding-left: 25px;
      padding-right: 25px;
  }
}
@media (max-width: 640px){
  .container {
      max-width: 548px;
      padding-left: 15px;
      padding-right: 15px;
  }
  .text-big {
    font-size: 28px;
  }
}
@media (max-width: 320px){
  .container {
      max-width: 100%;
      padding-left: 5px;
      padding-right: 5px;
  }
  .media {
    flex-wrap: wrap;
  }
}
@media (min-width: 1024px){
  .container {
      max-width: 868px;
  }
}
@media (min-width: 1280px){
  .container {
      max-width: 1068px;
  }
}
@media (min-width: 1536px){
  .container {
      max-width: 1400px;
  }
}


.aurora {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  mix-blend-mode: darken;
  pointer-events: none;
}

.aurora__item {
  overflow: hidden;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: var(--clr-1);
  border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  filter: blur(var(--blur));
  mix-blend-mode: overlay;
}

.aurora__item:nth-of-type(1) {
  top: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-1 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(2) {
  background-color: var(--clr-3);
  right: 0;
  top: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-2 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(3) {
  background-color: var(--clr-2);
  left: 0;
  bottom: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-3 8s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(4) {
  background-color: var(--clr-4);
  right: 0;
  bottom: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-4 24s ease-in-out infinite alternate;
}

@keyframes aurora-1 {
  0% {
    top: 0;
    right: 0;
  }

  50% {
    top: 100%;
    right: 75%;
  }

  75% {
    top: 100%;
    right: 25%;
  }

  100% {
    top: 0;
    right: 0;
  }
}

@keyframes aurora-2 {
  0% {
    top: -50%;
    left: 0%;
  }

  60% {
    top: 100%;
    left: 75%;
  }

  85% {
    top: 100%;
    left: 25%;
  }

  100% {
    top: -50%;
    left: 0%;
  }
}

@keyframes aurora-3 {
  0% {
    bottom: 0;
    left: 0;
  }

  40% {
    bottom: 100%;
    left: 75%;
  }

  65% {
    bottom: 40%;
    left: 50%;
  }

  100% {
    bottom: 0;
    left: 0;
  }
}

@keyframes aurora-4 {
  0% {
    bottom: -50%;
    right: 0;
  }

  50% {
    bottom: 0%;
    right: 40%;
  }

  90% {
    bottom: 50%;
    right: 25%;
  }

  100% {
    bottom: -50%;
    right: 0;
  }
}

@keyframes aurora-border {
  0% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }

  25% {
    border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
  }

  50% {
    border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
  }

  75% {
    border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
  }

  100% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }
}